# Build and Release Folders
Boot/DefaultBuild/
Flash/DefaultBuild/
DefaultBuild/
edit/

# Other files and folders
.settings/

# Executables
*.lmf
*.rel
*.sisc
*.xrf
*.mtud
*.mtpj
*.mtsp
*.bak
*.map
*.hex

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
